@model Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Picture != null)
{
    <h5>Current file</h5>
    <img class="img-thumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Picture))" />
    <br/>
    <br />
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id" value="@Model.CategoryId" />
            <div class="form-group">
                <input name="Picture" type="file" class="form-control-file border" />
            </div>            
            <div class="form-group">
                <input type="submit" class="btn btn-secondary" value="Upload"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Categories">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
