@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutWithoutSections";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Try to open these pages:</p>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Categories">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
            </li>
        </ul>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
